.query-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content: center;
    gap: 1rem;
}
.image-div{
    position: relative;
}

.card-image{
    aspect-ratio: 0.7159;
    height: 100%;
    width: 100%;
    cursor: zoom-in;
    object-fit: fill;
    object-position: center;
}

.image-overlay-text{
    position: absolute;
    text-align: center;
    background-color: #000000CC;
    bottom: 10%;
    width: 100%;
    z-index: 4;
}

.image-overlay-text > p{
    padding: 10px;
}

.query-item-container{
    aspect-ratio: 0.7159;
    max-width: 200px;
    width: 100%;
}

.query-item-container > div > p{
    cursor:pointer;
    padding: 0;
    margin: 0;
}

.extra-options{
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.extra-options > div > button {
    height: 30px;
    width: 35px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wishlist-buttons{
    display: flex;
}

.collection-buttons{
    display: flex;
    margin-left: auto;
    align-self: flex-end;
}