.query-container{
    display:flex;
    width: fit-content;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.query-item-container{
    max-width: min(calc(50vw - 1rem), 180px);
    min-width: 5rem;
}
.image-div{
    height: 100%;
    width: 100%;
    position: relative;
    aspect-ratio: 0.7159;
}

.card-image{
    height: 100%;
    width: 100%;
    cursor: zoom-in;
    object-fit: fill;
    object-position: center;
}

.image-overlay-text{
    position: absolute;
    text-align: center;
    background-color: #000000CC;
    bottom: 10%;
    width: 100%;
    z-index: 4;
}

.image-overlay-text > p{
    padding: 10px;
}

.extra-options{
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.extra-options > div > button {
    height: 30px;
    width: 35px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.wishlist-buttons{
    display: flex;
}

.collection-buttons{
    display: flex;
    margin-left: auto;
    align-self: flex-end;
}