.image-overlay{
    display: flex;
    position: fixed;
    z-index: 10;
    inset: 0;
    align-items: center;
    justify-content: center;
    background-color: #000000AA;
    height: 100%;
    width: 100%;
}

.image-wrapper{
    max-width: 80%;
    max-height: 80%;
    aspect-ratio: 0.7159;
    object-fit: contain;
    align-content: center;
    will-change: transform;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    cursor:grab;

}

.image-wrapper > img{
    height: 100%;
    width: 100%;
    object-fit: fill;

}
