.query-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content: center;
    gap: 1rem;
}
.card-image{
    aspect-ratio: 0.7159;
    height: 100%;
    width: 100%;
    cursor: zoom-in;
    object-fit: fill;
    object-position: center;
}

.query-item-container{
    aspect-ratio: 0.7159;
    max-width: 200px;
    width: 100%;
}

.query-item-container > div > p{
    cursor:pointer;
}

.extra-options{
    display: flex;
    align-items: center;
}

.extra-options > button {
    height: 20px;
    width: 20px;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wishlist-buttons{
    display: flex;
}

.collection-buttons{
    display: flex;
    margin-left: auto;
    align-self: flex-end;
}