.image-overlay{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: #000000AA;
    height: 100%;
    width: 100%;
}

.image-wrapper{
    cursor:grab;
    height: 80%;
}

.image-wrapper > img{
    aspect-ratio: 0.7159;
    /* width: 100%; */
    height: 100%;
    object-fit: fill;
}
