.set-holder{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content: center;
    gap: 1rem;
}

.set-item{
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    align-items: center;
    justify-content: center;
}

.set-item > img {
    height: 80%;
    object-fit: contain;
}

.set-item > p{
    text-align: center;
}
